numpy
qtpy
PySide6
pyqtgraph
PyYAML
pynwb
scanimage-tiff-reader
tifffile
Pillow
matplotlib
PyQt5
opencv-python
networkx
hdf5storage
sortedcontainers
seaborn
sklearn
fa2
markov-clustering
cdlib
scikit-posthocs
read-roi